.partNumber-tabs-container{
}
.partNumber-tabOne-data {

}
.partNumber-tabOne-dataSpan{
text-decoration: none;
color:#666;
font-size: 14px;
}
.partNumber-tabOne-dataSpan:hover{
    color: var(--bgBlue);
}