.lowerNav-container{
    width: var(--width);
    // border: 1px solid red;
    margin: auto;
    display: flex;
}
.lowerNav-box1 {
    // border: 1px solid;
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    border-radius: 6px 6px 0 0 ;
    background-color: var(--bgBlue);
    gap: 0.5rem;
    padding-left: 10px;
    color: var(--whiteColor) ;
}
.lowerNav-box2 {
    flex: 3;
    // border: 1px solid;
    display: flex;
    padding-left: 50px;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 1rem;

    span{
        cursor: pointer;
        // border: 1px solid;
        font-weight: 400;
        padding: 10px;
        margin-bottom: none !important;
        border-radius: 3px;
    }
    span:hover{
        background-color: var(--bgHoverWhite);
    }

}