@import "./banner.scss";
@import "./leftbar.scss";
@import "./rightbar.scss";
@import "./bannerBottom.scss";
@import "./LeftCard.scss";
.banner-container {

}
.banner-container-box {
    width: var(--width) !important;
    margin: auto;
    // border: 1px solid;
    // display: flex;
}
.banner-boxOne{
    // flex: 1;
    // border: 1px solid;
}
.banner-boxTwo{
    border-radius: 7px !important;
    overflow: hidden;
    // height: 00px;
    // flex: 3;
    // border: 1px solid;
}
.banner-boxThree{
    // flex: 1;
    // border: 1px solid;
}
.banner-boxTwoItem{
    // border: 1px solid;
    overflow: hidden;
    width: 600px;
    height: 400px;
    margin: auto;
    border-radius: 5px;
    z-index: 2;
}