.rightbar-container{
    // border: 1px solid;
    margin-bottom: 10px;
    width:100%;
    padding: 16px;
}
.rightbar-container-img{
    width: 53px;
    height: 55px;
}
.rightbar-boxOne-items{
    height: 70%;
    width: 90%;
    // border: 1px solid;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    gap: 0.3rem;
    align-items: flex-start;

    h1{
        margin: 0px;
        font-size: 18px;
        margin-bottom: 4px;
    }
}
.rightbar-boxOne-text{
    text-decoration: none;
    display: flex !important;
    justify-content: center !important;
    align-items: flex-start !important;
    // transform: translateX(-25px);
    // opacity: 0;
    // border: 1px solid;
    // padding: 3px;
}
// .rightbar-container:hover .rightbar-boxOne-text{
//     transform: translateX(0px);
//     opacity: 1;
//     transition: ease-in-out 0.7s;
// }
.rightbar-container-boxOne{
// border: 1px solid;
display: flex;
justify-content: center;
align-items: center;
}
.rightbar-container-boxTwo{
// border: 1px solid;
display: flex;
justify-content: center;
align-items: center;
}