@import "./quote.scss"; 
.rfq-container{
    // border: 1px solid;
    // background-color: var(--whiteColor);
}
.rfq-container-itemTwo{
    padding: 0px 10px 20px;
    width: var(--width);
    margin: auto;
}