.recommendedParts{
    background-color: var(--bgCards);
}
.recommendedParts-container{
    width: var(--width) !important;
    margin: auto;
    // border: 1px solid;
    padding: 20px 0px 30px 0px;
}
.recommendedParts-itemTwo-container{
    background-color: #fff;
    padding: 5px 0px;
    border-radius: 5px;
}