.swipers-container{
    height: 100%;
    // width: 80%;
    margin: auto;

    // border: 1px solid;
}
.Swipers{
    height: 100%;
    padding: 0px 65px;
    // border: 1px solid;
}
.swipers-container-slide{
 width: 70%;
//  margin-left: 20px;
}