.preferential-boxOne-container {
    padding: 10px;
    border-radius: 5px;
    background-color: white;

    img{
        width: 100%;
        height: 100%;
        border-radius: 5px; 
    }
}
.preferential-item-containerCard{
    // border: 1px solid;
    padding: 10px 0px 10px 0px;
}