@import "./TabThree.scss";
.fourthSection-product{
background-color: #fff;
border-radius: 5px;
padding: 0px 25px 10px;



.itemOne{
     display: flex !important;
     justify-content: flex-start;
     align-items: center;
     gap: 1rem;
}
 

} 