.tabThree-fourthsection-productInfo{


    .tabThree-fourthsection-productInfo-itemOne{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
    .tabThree-fourthsection-productInfo-itemFour{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }
}