.tablecart-container{
    background-color: white;
    padding: 0px 20px 20px;
    border-radius: 5px;
.table-heading{
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}
}