html {
    --px: 8%;
    --py: 0.6%;
    --width: 96%;
    --grayTextColor: rgb(140, 140, 140);
    --whiteColor: white;
    --orangeColor: #ff6221;
    --bgHoverWhite: whitesmoke;
    --bgBlue: #4066b8;
    --grayText: #999;
    --pinkColor: #fb2e86;
    --purpleColor: #7e33e0;
    --linkColor: #0d0e43;
    --headingColor: #151875;
    --singleshopBg: #0d0e43;
    --textColorLigher: #8a8fb9;
    --bgSoft: #4066b8;
    --bgColor2: #eeeffb;
    --bgCards: #f8f8fc;
    --bgPayment: #f8f8fd;
    --headingPurpleColor2: #1a0b5b;
    --pinkColorLighter: #e7e4f8;
    --grayBlueBg: #f2f0ff;
    --grayBg: #e8e6f1;
    --grayText: #a1a8c1;
    --lightblueBg: #f6f7fb;
    --grey: #f7f7f7;
    --textPayment: #c1c8e1;
    --shopcartBorder: #c5cbe3;
    --green: #08d15f;
    --greenBtn: #19d16f;
    --textpara: #a9acc6;
    --shadow1: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%);
    --shadow2: 0px 0px 12px 5px rgba(246, 246, 253, 0.9);
    --shadow3: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 4%);
    --shadow4: 1px 1px 8px 2px rgba(0, 0, 0, 16%);
    --Lato: "Lato";
    --Josefin: "Josefin Sans";
    --font: "Rubik", sans-serif;
    --radius: 12px;
    --shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.3);
}